* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    padding: 0;
    border: none;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 10rem;
    background: black;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 2rem 10rem 0 4rem;
}

.list {
    height: 100%;
}

.secList {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 10rem;
}

.separetor {
    display: flex;
    width: 150vh;
    margin-left: 20%;
    height: 1rem;
    background: rgb(68, 68, 68);
}

li {
    margin: 20px;
    list-style-type: none;
}

.vl {
    display: flex;
    flex-direction: column-reverse;
    height: 92%;
    border-left: 1px solid rgba(255, 255, 255, 0.329);
}

.sections {
    color: #fff;
    text-decoration: none;
    padding: 1rem; 
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.sections:hover {
    color: rgba(243, 78, 78, 0.568);
    opacity: 0.7;
}

.sidebar__item {
    width: 25%;
    margin-left: 1rem;
    margin-top: 1rem;
    color: black;
    height: 45.8%;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(53, 50, 50, 0.33);
    -moz-box-shadow:    2px 4px 8px 0px rgba(53, 50, 50, 0.33);
    box-shadow:         2px 4px 8px 0px rgba(53, 50, 50, 0.33);
}

.Name__sidebar {
    padding: 1rem;
    font-size: 22px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.534);
    font-family: 'Roboto', sans-serif;
}

hr {
    height: 2px; 
    border: none; 
    color: #000; 
    background-color: rgba(0, 0, 0, 0.24); 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.ulSubItem {
    display: inline;
}

.subItem {
    margin-top: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    font-weight: bold;
    transition: .3s;
    font-family: 'Roboto', sans-serif;
}

.subItem:hover {
        color: rgba(243, 78, 78, 0.568);
        opacity: 0.7;
}

.page {
    width: 150vh;
    margin-left: 20%;
    display: flex;
    height: 70vh;
    -webkit-box-shadow: 1px 3px 10px 0px rgba(53, 50, 50, 0.97);
    -moz-box-shadow:    1px 3px 10px 0px rgba(53, 50, 50, 0.97);
    box-shadow:         1px 3px 10px 0px rgba(53, 50, 50, 0.97);
}

.page__content {
    width: 50%;
    margin-left: 5rem;
    margin-top: 2rem;
}

.title {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.text {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.644);
}

.btn {
    width: 12rem;
    height: 3rem;
    background: rgb(180, 0, 0);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.btn:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    justify-content: center;
    margin-left: 15rem;
    margin-top: 2rem;
}